* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  margin: 0 auto;
  width: 90%;
  
}

.space__sections {
  margin-top: 110px;
}

.space__sections *{
  margin-bottom: 50px;
}
