* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  
  .gallery-gap {
    margin: 2.5rem auto 2.5rem; //40px 40px
  }

  .gallery__ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem 4.875rem; //20px 78px
  }
}

#wrapper {
  margin: 0 auto;
  width: 90%;
}

.space__sections {
  margin-top: 110px;
}

.space__sections * {
  margin-bottom: 50px;
}

.no-style__list {
  list-style: none;
  padding-left: 0;
}
