/* CARROUSEL */

.carrousel {
  display: grid;
  grid-auto-flow: column;
  overflow-y: auto;
}

.galery--carrousel {
  display: grid;
  grid-auto-flow: column;
  overflow-y: auto;
}

.carrousel::-webkit-scrollbar {
  background-color: rgba(160, 160, 160, 0.356);
  border-radius: 6px;
}

.carrousel::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 6px;
}

/* RESPONSIVE CARROUSEL */

/* MOBILE */

@media (max-width: 480px) {
  .carrousel {
    display: none;
  }

  .galery--carrousel-cards {
    width: 350px;
  }
}

.more-info-button {
  display: grid;
  justify-content: end;
}

/* TABLET */

  @media (min-width: 481px) and (max-width: 768px) {
  .carrousel {
    gap: 2.5rem;
    margin-bottom: 100px;
    padding: 30px;
  }

  .galery--carrousel-cards {
    width: 300px;
  }

  .carrousel-cards {
    background: linear-gradient(180deg, rgba(33, 136, 31, 0.38) 0%, rgba(217, 255, 221, 0.38) 100%);
    border-radius: 10px;
    margin-bottom: 60px;
    padding: inherit;
    width: 245px;
  } 
}

/* DESKTOP */

  @media (min-width: 769px) {
  .carrousel {
    gap: 2.5rem;
    margin-bottom: 100px;
    padding: 30px;
    display: grid;
    grid-auto-flow: column;
    overflow-y: auto;
  }

  .galery--carrousel {
    gap: 1rem;
    margin-bottom: 50px;
    padding: 30px;
  }

  .carrousel-cards {
    background: linear-gradient(180deg, rgba(33, 136, 31, 0.38) 0%, rgba(217, 255, 221, 0.38) 100%);
    border-radius: 10px;
    margin-bottom: 60px;
    padding: inherit;
    width: 200px;
  }

  .galery--carrousel::-webkit-scrollbar {
    background-color: rgba(160, 160, 160, 0.356);
    border-radius: 6px;
  }
  
  .galery--carrousel::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 6px;
  }
}

.hotel-cards {
  margin-bottom: 80px;
}

/* RESPONSIVE CONTENIDO*/

/* MOBILE */

@media (max-width: 480px) {

  .preview-card {
    background: linear-gradient(180deg, rgba(33, 136, 31, 0.38) 0%, rgb(255, 255, 255) 100%);
    display: flex;
    padding: 10px 0 0 28px;
  }

  .preview-card-img {
    width: 80%;
    border-radius: 10px;
  }
  
  .hotel-card-sumary {
    width: 80%;
    margin-top: -16px;
    margin-left: 16px;
  }
  
  .preview-card-stars {
    width: 50px;
    height: 50px;
  }

  .card-text,
  button {
    display: none
  }

  .hotel-cards article {
    margin-top: 20px;
    box-shadow:0.7px 0.7px 0.7px rgba(0, 0, 0, 0.053), 2.5px 2.2px 2.5px rgba(0, 0, 0, 0.077), 11px 10px 11px rgba(0, 0, 0, 0.13);
  }
}

.star{
  width: 90px;
  position: relative;
  right: 11px;
}

.more-info-button{
  color: black;
  text-decoration: none;
  position: relative;
  right: 20px;
  bottom: 10px;
}

.gps{
  display: flex;
  align-items: center;
}


/* TABLET */

@media (min-width: 481px) and (max-width: 768px) {
  
  .hotel-cards {
    display: none;
  }

  .preview-card {
    padding: 10px 0 0 10px;
    border-radius: 10px;
  }

  .preview-card-img {
    display: flex;
    width: 97%;
    border-radius: 10px;
  }

  .hotel-card-sumary {
    margin-top: -16px;
  }

  .hotel-card-sumary h3 {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }
}

.card-text{
  margin-top: -15px;
}



/* DESKTOP */

@media (min-width: 769px) {
  
  .hotel-cards {
    display: none;
  }

  .card-text {
    width: 100%;
    text-align: justify;
  }
}

.preview-card-img{
  width: 100%;
}

.hotel-star{
  display: inline-flex;
}

.stars{
  position: relative;
  width: 90px;
  height: 25px;
  margin-top: 18px;
}