.boton-imagen {
  background-image: url(../assets/img/hotel/Santahotel1.png);
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.content__tab-2--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hotel-2 {
  background-image: url("../assets/img/hotel/Santahotel2.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-3 {
  background-image: url("../assets/img/hotel/Tamahotel1.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-4 {
  background-image: url("../assets/img/hotel/Tamahotel2.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-5 {
  background-image: url("../assets/img/hotel/poashotel1.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-6 {
  background-image: url("../assets/img/hotel/poashotel2.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-7 {
  background-image: url("../assets/img/hotel/Papahotel1.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-8 {
  background-image: url("../assets/img/hotel/Papahotel2.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-9 {
  background-image: url("../assets/img/hotel/Manzahotel1.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-10 {
  background-image: url("../assets/img/hotel/Manzahotel2.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-11 {
  background-image: url("../assets/img/hotel/Forhotel1.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.hotel-12 {
  background-image: url("../assets/img/hotel/Forhotel2.png");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 524px;
  position: relative;
  width: 100%;
}

.titulo-boton {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
