.popup__content {
  background-color: #326d31cc;
  border-radius: 10px;
  border: none;
  display: grid;
  justify-content: center;
  margin-top: 230px;
  margin: 0 auto;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
}

.popup__heading {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

.popup__heading img {
  width: 100px;
}

.popup__close {
  background: none;
  border: none;
  color: #fff;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-right: -15px;
  margin-top: -15px;
  text-align: end;
}

.popup__close:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
  transition: all 0.5s ease;
}

.popup__close:focus {
  color: #fff;
}

.login__label {
  color: #fff;
  display: block;
  margin-bottom: 2px;
}

.login__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login__input {
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.5s ease;
}

.login__input:active {
  border: none;
  transition: all 0.5s ease;
}

.login__error--visible {
  display: block;
}

.login__submit-button {
  background-color: #000;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin-top: 10px;
  padding: 9px;
  width: 100%;
}

.login__submit-button:hover {
  background-color: #2b2b2b;
  box-shadow: 0px 0px 10px rgba(63, 63, 63, 0.63);
  transition: all 0.2s ease;
}

.login__submit-button:active {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.747);
  color: #000;
  transform: scale(0.95);
  transition: all 0.2s ease;
}

@media (max-width: 480px) {
  /*Mobile*/
  .popup {
    background-color: rgba(0, 0, 0, 0.753);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .popup__content {
    border-radius: 5px;
    max-width: 250px;
    padding: 15px;
    transition: all 0.5s ease;
  }

  .popup__close {
    color: #fff;
    font-size: 45px;
  }

  .popup__close:focus {
    color: #fff;
  }

  .login__submit-button {
    padding: 15px;
    transition: all 0.5s ease;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /*Tablet*/
  .popup {
    background-color: rgba(0, 0, 0, 0.753);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .popup__content {
    padding: 60px;
    max-width: 250px;
    transition: all 0.5s ease;
  }
  .popup__close:focus {
    color: #fff;
  }

  .login__submit-button {
    background-color: #000;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    transition: all 0.5s ease;
    width: 100%;
  }
}

@media (min-width: 769px) {
  /*Desktop*/
  .popup {
    background-color: rgba(0, 0, 0, 0.753);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .popup__content {
    padding: 80px;
    max-width: 250px;
    transition: all 0.5s ease;
  }
}
