.nav-principal ul {
  align-items: center;
  background-color: #fff;
  border-radius: 0px 0px 60px 60px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-bottom: 75px;
  padding: 5px 0px 5px 0px;
}

.nav-principal__logo,
.nav-principal__logo-profile {
  width: 80%;
}

.nav-elements {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation__menu {
  background-color: #326d31cc;
  border-radius: 10px;
  list-style-type: none;
  margin: -100px 0 0 -50px;
  padding-bottom: 40px;
  padding-top: 125px;
  position: absolute;
  width: 300px;
}

.navigation__menu-toggle {
  display: none;
  height: -50px;
  margin-top: 50px;
  position: relative;
  right: -20px;
  width: 6.7%;
}

.navigation__menu li {
  color: #fff;
  font-size: 22px;
  margin-left: 120px;
  padding: 10px 0;
}

.navigation__menu-toggle a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation__menu-toggle a:active {
  transition: all 0.2s ease;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.842));
}

.navigation__menu-toggle input {
  height: 32px;
  left: -5px;
  opacity: 0;
  position: absolute;
  top: -7px;
  width: 40px;
  z-index: 2;
}

.navigation__menu-toggle span {
  background: #000000;
  border-radius: 3px;
  display: block;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  width: 33px;
  z-index: 1;
}

.navigation__menu-toggle span {
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.navigation__menu-toggle input:checked ~ ul {
  transform: translate(-30%, 0%);
}

.navigation__menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.navigation__menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

.navigation__menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.navigation__menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

@media (max-width: 480px) {
  .nav-principal,
  .nav-principal-social {
    display: none;
  }

  .navigation__menu {
    transform-origin: 0% 0%;
    transform: translate(-200%, 0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .navigation__menu-toggle {
    display: block;
  }

  .nav-principal__logo {
    width: 50%;
  }
  .nav-principal__logo-profile {
    width: 20%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .img-principal {
    width: 100%;
  }

  .nav-principal,
  .nav-principal-social {
    display: none;
  }

  .navigation__menu {
    transform-origin: 0% 0%;
    transform: translate(-200%, 0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .navigation__menu-toggle {
    display: block;
  }

  .nav-principal__logo {
    width: 60%;
  }
  .nav-principal__logo-profile {
    width: 25%;
  }
}
