.features__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.features__container img {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.329));
  margin-bottom: 10px;
  margin-left: 5px;
}

.features__container h2,
p {
  margin-left: 30px;
  text-align: start;
}

.features__container h3 {
  margin-top: 20px;
  margin-left: 30px;
}

.features__info ul {
  list-style: none;
  text-align: start;
}

.features__price {
  color: #ad0000;
  padding: 10px;
  text-decoration: line-through;
}

.features__price-discount {
  background-color: #326d31;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

/*Additional features*/
.hotel__features {
  align-items: center;
  background-color: #fff;
  display: flex;
  filter: drop-shadow(6px 9px 8px rgba(0, 0, 0, 0.075));
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
}

.hotel__features ul {
  list-style: none;
}

.hotel__features li {
  margin-top: 10px;
}

.hotel__features input {
  margin-right: 15px;
}

.feature__advices--gray {
  color: #5252527e;
  text-decoration: underline;
}

.button__price {
  background: #326d31;
  border-radius: 5px;
  border: none;
  color: #fff;
  height: 47px;
  transition: all 0.5s ease;
  width: 20%;
}

.button__price:hover {
  background: rgb(92, 172, 91);
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
  transition: all 0.1s ease-in;
}

.button__price:active {
  background: #224b21;
  color: #fff;
  transform: scale(0.96);
  transition: all 0.1s ease-in;
}

@media (max-width: 480px) {
  /*Mobile*/
  .features {
    border: 1px solid #326d31;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 80%;
  }

  .features__container {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features__img {
    align-content: stretch;
    align-items: center;
    display: grid;
  }

  .features__info {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -135px;
  }

  .hotel__features {
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }

  .button__price {
    height: 47px;
    width: 51%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /*Tablet*/
  .features {
    border-top: 1px solid #326d31;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    transition: all 0.5s ease;
    width: 80%;
  }

  .features__img {
    align-content: stretch;
    align-items: center;
    display: grid;
    transition: all 0.5s ease;
  }

  .features__container {
    flex-wrap: wrap;
    transition: all 0.5s ease;
  }

  .features__info {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -135px;
    transition: all 0.5s ease;
  }

  .hotel__features {
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 15px;
    transition: all 0.5s ease;
  }

  .hotel__features {
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 15px;
    transition: all 0.5s ease;
  }

  .button__price {
    height: 47px;
    transition: all 0.5s ease;
    width: 55%;
  }
}

@media (min-width: 769px) {
  /*Desktop*/
  .features {
    border-radius: 5px;
    border-top: 5px solid #326d31;
    margin-top: 45px;
    margin: 0 auto;
    width: 80%;
  }

  .features__img {
    align-content: stretch;
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: -15px;
  }

  .features__container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 35px;
  }
}
