#slider-container {
  margin: 0 auto;
}

.slide {
  text-align: center;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider__img {
  border-radius: 15px;
  margin: 0 10px;
  transition: 0.25s ease-in-out;
  width: 300px;
}

.slider__img:hover {
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.slider-destination {
  bottom: 101px;
  color: #fff;
  font-size: 25px;
  position: relative;
  text-decoration: none;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.63);
  transition: all 0.2s ease;
}

.slider-destination:hover {
  color: #f8f8f8fb;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
  transition: all 0.2s ease;
}

.control-prev-btn img {
  cursor: pointer;
  position: absolute;
  width: 42px;
}

.control-next-btn img {
  cursor: pointer;
  position: absolute;
  width: 42px;
}

.control-next-btn:hover img,
.control-prev-btn:hover img {
  filter: drop-shadow(6px 5px 5px rgba(0, 0, 0, 0.747));
  transition: all 0.2s ease;
}

.control-next-btn img:active,
.control-prev-btn img:active {
  transform: scale(0.9);
}

@media (max-width: 480px) {
  .control-prev-btn img {
    display: none;
  }

  .control-next-btn img {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #slider-container {
    width: 65%;
  }

  .slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 16px;
    scroll-behavior: smooth;
  }

  .control-prev-btn img {
    left: 25px;
    top: 800px;
  }

  .control-next-btn img {
    right: 25px;
    top: 800px;
  }
}

@media (min-width: 769px) {
  #slider-container {
    width: 80%;
  }
  .slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 16px;
    scroll-behavior: smooth;
  }

  .control-prev-btn img {
    left: 150px;
    top: 870px;
  }

  .control-next-btn img {
    right: 89px;
    top: 870px;
  }
}
